@media (max-width: 576px) {
    #main {
        gap: 30px;
    }

    .searchBar {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }
    .searchBar button {
        margin-left: 0;
    }

    .content {
        margin-top: 20px;
    }

    .tempandCity {
        height: 100px;
        width: 300px;
        padding: 15px;
        border-radius: 5px;
    }

    .tempandCity h1 {
        font-size: 1.9rem;
    }

    .tempandCity p {
        font-size: 1.1rem;
    }

    .details {
        height: 100px;
        width: 300px;
        border-radius: 5px;
        gap: 10px;
    }

    .details p {
        font-size: 1.2rem;
    }
    .details span{
        font-size: .7rem;
    }

    .degree {
        display: none;
    }

    .sun {
        padding: 5px;
    }

    .sunrise,.sunset  {
        width: 120px;
    }

}